.App {
  text-align: center;
  height: 10vh;
  width: 10vw;
  position: fixed;
  left: 0;
  bottom: 0;
}
#joystick-container {
  display: none;
}
@media screen and (max-width: 768px) {
  #joystick-container {
    position: absolute;
    display: block;
    bottom: 50px;
    left: 50px;
  }
  #joystick {
    width: "128px";
    position: relative;
  }
  #stick {
    position: absolute;
    left: 32px;
    top: 32px;
  }
}
